@import "tailwindcss";

@layer base {
  :root {
    --color-background: #ffffff;
    --color-text: #000000;
  }

  .dark {
    --color-background: #000000;
    --color-text: #ffffff;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
